__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/

venv/
env/
.env/
.venv/
ENV/

.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

data/raw/*.csv
data/raw/*.xlsx
data/raw/*.json

data/cleaned/
data/output/
assets/
reports/

.env
*.env

.ipynb_checkpoints/
*.ipynb

desktop.ini 
